@import "tailwindcss";
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --primary: 0 122 255;
    --primary-foreground: 255 255 255;
    --radius: 0.5rem;
    --border: 229 231 235;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}